/* Colors
Main blue: #229BE8;
Link blue: #1977B3;
Link hover blue: #75D0ED;
Dark gray: #424242;
Light gray: #757575;
Lightest gray: #E2E2E2;
Navbar green: #00D12E;
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Roboto:400');

/*Global styles*/

html, body, h1, h2, h3, h4, h5, h6, p, a, div {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/backgrounds/image0.png");
}

section {
  z-index: 2;
}

.overlay {
  position: fixed;
  top:0;
  left:0;

  width:100vw;
  height:100vh;
  z-index: 1;

  opacity:0.3;
  background-color: white;
  transition: background-color 0.6s ease;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Raleway', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*Navbar*/

#navbar {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100vw;
  padding: 50px 60px 30px 60px;
  box-sizing: border-box;
  transition: padding 0.3s ease-out;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  background-color: white;
  border-bottom: 1px solid #E2E2E2;
}

.navbar-brand {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 700;
  color: #229BE8;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.navbar-links a {
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 500;
  color: #757575;
  transition: color 1s ease;

  display: inline-block;
	position: relative;
}

.navbar-links a:hover, .navbar-links a.active {
  color: #00D12E;
  transition: color .5s ease;
}

.navbar-links a:after, .navbar-links a.active:after {
	content: '';
	display: block;
	margin-top: 3px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar-links a:hover:after, .navbar-links a.active:after {
	width: 100%;
	background: #00D12E;
}

/*Landing section*/

#splash {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-container {
  width: 80vw;
}

.splash-container h1 {
  font-weight: 700;
  font-size: 3.8em;
  margin-bottom: 40px;
}

.splash-container h3 {
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.splash-container span {
  color: #229BE8;
}

.presence-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 30px;
}

.presence-container a.presence-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 20px;
  padding: 10px 10px 10px 0;

  font-size: 1.3em;
  color: black;
  transition: color 0.3s ease;
}

.presence-item i {
  margin-right: 10px;
  font-size: 1.5em;
}

.presence-container a.presence-item:hover {
  color: #00D12E;
  transition: color 0.3s ease;
}

/*About section*/

#about {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.about-container {
  width: 80vw;
  padding-top: 100px;
}

.about-container h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 20px;
}

.about-container h1 span {
  color: #229BE8;
}

.about-container h2 {
  font-weight: 700;
  font-size: 2.8em;
  margin-bottom: 20px;
}

.blurb-container {
  margin-bottom: 50px;
  padding: 30px 50px;
  width: 100%;

  box-sizing: border-box;
  background-color: white;
  border: 1px solid #E2E2E2;

  text-align: center;
}

.blurb-container h4 {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.3em;
}

.blurb-container h4 span {
  font-weight: 600;
  color: #39DA5E;
}

/*About - education*/

.ex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ed-container {
  width: 49%;
}

.ed-container small {
  color: #757575;
  font-size: 0.4em;
}

.ed-item {
  position: relative;
  padding: 20px 20px;
  margin-bottom: 20px;

  background-color: white;
  border: 1px solid #E2E2E2;
}

.ed-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ed-item-header h3 {
  font-size: 1.3em;
  margin-right: 10px;
}

.ed-item-header h4 {
  font-weight: 500;
  font-size: 1.1em;
}

.ed-item p {
  font-size: 1.2em;
}

.ed-item .info-show {
  position: relative;

	width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s, margin-top 0.8s ease;

}

.ed-item:hover > .info-show {
  margin-top: 10px;
  max-height: 1000px;
  transition: max-height 0.5s, margin-top 0.3s ease;
}

.ed-item .info-show h4 {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.ed-item .info-show p {
  font-size: 1.1em;
}

.ed-item .course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #757575;
}

/*About - work*/

.work-role {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.work-role:last-of-type {
  margin-bottom: 0;
}

.work-role h4 {
  font-size: 1.2em;
  font-weight: 400;
}

.work-role p {
  font-size: 1em;
  color: #757575;
}


/*About - skills*/

.skill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-list-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  padding: 30px;
  width: 100%;

  box-sizing: border-box;
  background-color: white;
  border: 1px solid #E2E2E2;
}

.skill-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.skill-list-header h3 {
  font-size: 2em;
  margin-right: 20px;
}

.skill-list-header h4 {
  color: #757575;
  font-weight: 500;
  font-size: 1.3em;
}

.tech-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
}

.tech-list i {
  font-size: 4.3em;
  padding: 20px;
}

/*Projects section*/

#projects {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container {
  width: 80vw;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
}

.projects-container h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 40px;
}

.projects-container span {
  color: #229BE8;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: row;

  margin-bottom: 50px;
  padding: 30px;
  width: 100%;

  box-sizing: border-box;
  background-color: white;

  border: 1px solid #E2E2E2;
}

.project-item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
}

.project-item-img img {
  width: 100%;
  border: 1px solid #E2E2E2;
}

.project-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 15px;
}

.project-item-header h2 {
  font-size: 2.5em;
}

.project-item-header a {
  color: #1977B3;
  transition: color 0.3s ease;
}

.project-item-header a:hover {
  color: #75D0ED;
  transition: color 0.3s ease;
}

.project-item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
  width: 40%;
}

.project-item-description h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  color: #757575;
}

.project-item-description p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 15px;
}

.project-item-description a.proj-learn {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 15px;
  padding: 10px;

  background-color: #1977B3;
  color: white;
  transition: background-color 0.3s ease;
}

.proj-git-links {
  display: flex;
  flex-direction: row;
}

.project-item-description .proj-learn i {
  font-size: 1.5em;
  margin-right: 10px;
}

.project-item-description a.proj-learn:hover {
  background-color: #75D0ED;
  transition: background-color 0.3s ease;
}

/*Contact section*/
#contact {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.contact-container {
  width: 80vw;
}

.contact-container h1 {
  font-weight: 700;
  font-size: 3.8em;
  margin-bottom: 40px;
}

.contact-container span {
  color: #229BE8;
}

.contact-container h3 {
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 10px;
}

/*Footer*/
#footer {
  width: 100vw;
  height: 150px;
}

.footer-container {
  width: 100%;
  padding: 20px 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.footer-container h4 {
  width: 80%;
  margin-right: 20px;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.5em;
}

.footer-container a.proj-learn {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 15px;
  padding: 10px;

  border: 1px solid #424242;
  color: #424242;
  transition: border 0.3s ease;
}

.footer-container .proj-learn i {
  font-size: 1.5em;
  margin-right: 10px;
}

.footer-container a.proj-learn:hover {
  border: 1px solid #757575;
  color: #757575;
  transition: color 0.3s ease, border 0.3s ease;
}
