/* Colors
Main blue: #229BE8;
Link blue: #1977B3;
Link hover blue: #75D0ED;
Dark gray: #424242;
Light gray: #757575;
Lightest gray: #E2E2E2;
Navbar green: #00D12E;
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

html, body, h1, h2, h3, h4, h5, h6, p, a, div {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Raleway', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100vw;
  padding: 50px 60px 30px 60px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  background-color: white;
  border-bottom: 1px solid #E2E2E2;
}

.navbar-brand {
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 700;
  color: #229BE8;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.navbar-links a {
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 500;
  color: #757575;
  transition: color 1s ease;

  display: inline-block;
	position: relative;
}

.navbar-links a:hover, .navbar-links a.active {
  color: #00D12E;
  transition: color .5s ease;
}

.navbar-links a:after, .navbar-links a.active:after {
	content: '';
	display: block;
	margin-top: 3px;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar-links a:hover:after, .navbar-links a.active:after {
	width: 100%;
	background: #00D12E;
}

#splash {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-container {
  width: 80vw;
}

.splash-container h1 {
  font-weight: 700;
  font-size: 4.2em;
  margin-bottom: 40px;
}

.splash-container h3 {
  font-weight: 500;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.splash-container span {
  color: #229BE8;
}

.splash-container .presence-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 30px;
}

.splash-container .presence-container a.presence-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 20px;
  padding: 10px 10px 10px 0;

  font-size: 1.3em;
  color: black;
  transition: color 0.3s ease;
}

.presence-item i {
  margin-right: 10px;
  font-size: 1.5em;
}

.splash-container .presence-container a.presence-item:hover {
  color: #00D12E;
  transition: color 0.3s ease;
}

#about {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.about-container {
  width: 80vw;
  padding-top: 200px;
  height: 100%;
}

.about-container h1 {
  font-weight: 700;
  font-size: 4.2em;
  margin-bottom: 40px;
}

.about-container span {
  color: #229BE8;
}

#projects {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container {
  width: 80vw;
  padding-top: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.projects-container h1 {
  font-weight: 700;
  font-size: 4.2em;
  margin-bottom: 40px;
}

.projects-container span {
  color: #229BE8;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item {
  display: flex;
  flex-direction: row;

  margin: 30px 0;
  padding: 30px;
  width: 100%;

  box-sizing: border-box;

  border: 1px solid #E2E2E2;
  transition: border 0.3s ease;
}

.project-item:hover {
  border: 1px solid #757575;
  transition: border 0.3s ease;
}

.project-item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
}

.project-item-img img {
  width: 100%;
}

.project-item-description {
  padding: 0 30px;
  width: 40%;
}

.project-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 15px;
}

.project-item-header h2 {
  font-size: 3em;
}

.project-item-header a {
  color: #1977B3;
  transition: color 0.3s ease;
}

.project-item-header a:hover {
  color: #75D0ED;
  transition: color 0.3s ease;
}

.project-item-description h3 {
  font-size: 1.5em;
}

.project-item-description p {
  font-size: 1.3em;
}
