{% extends "layout.html" %} {% block content %}
<!-- Blog post template. Each post is written in markdown and placed as a separate file in
         static/assets/posts. Happy blogging! -->
<script src="static/js/toggle.js"></script>
<section id="blog">
  <div class="blog-container">
    {% for post in blog_posts %}
    <div class="blog-item">
      <h3>
        <a href="blog#{{ post.id }}" id="blog-title" onclick="toggle('{{ post.id }}')">
          <b>{{post.date}} - {{ post.title }}</b>
        </a>
      </h3>
      <div id="{{ post.id }}" style="display:none">
        <hr> {{ post.text | markdown }}
        <hr>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
