{% extends "layout.html" %} {% block content %}
<section id="splash">
  <div class="splash-container">
    <h1>Hi, my name is <span>Justin Suen.</span></h1>
    <h3>I am a <span>Software Engineer</span> with a strong interest in Data Visualization.</h3>
    <h3>I build practical and visual software to educate and make life easier.</h3>
  </div>
</section>
<section id="about">
  <div class="about-container">
      {% for text in about %}
      <h4>{{ text.description|safe }}</h4>
      {% endfor %}
    </div>
  </div>
</section>
<section id="projects">
  <div class="project-container">
    {% for project in projects %}
    <div class="project-item">
      {% if project.code %} {{ project.code | safe }} {% endif %}
      {% if project.link %}
        <a target="_blank" href="{{ project.link }}" class="{{ project.icon_class }}"></a>
        <h4><a target="_blank" href="{{ project.link }}">{{ project.name }}</a></h4>
      {% else %}
        <h4>{{ project.name }}</h4>
      {% endif %}
      <p>{{ project.description }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
