{% extends "layout.html" %} {% block content %}
<section id="splash">
  <div class="splash-container">
    <h1>Hi, my name is <span>Justin Suen.</span></h1>
    <h3>I am a <span>Software Engineer</span> with a strong interest in Data Visualization.</h3>
    <h3>I build practical and visual software to educate and make life easier.</h3>
    <div class="presence-container">
      {% for presence in splash %}
        <a class="presence-item" href="{{ presence.link }}" target="_blank"><i class="{{ presence.icon }}"></i>{{ presence.name }}</a>
      {% endfor %}
    </div>
  </div>
</section>
<section id="about">
  <div class="about-container">
    <h1>About <span>me</span></h1>
    <div class="blurb-container">
      {% for section in about %}
      <h4>{{ section.blurb | safe }}</h4>
      {% endfor %}
    </div>
    <div class="ex-container">
      <div class="ed-container">
        <h2>Education <small>(hover to see courses)</small></h2>
        {% for school in education %}
        <div class="ed-item">
          <div class="ed-item-header">
            <h3>{{ school.name }}</h3>
            <h4>{{ school.date }}</h4>
          </div>
          <p>{{ school.field }}</p>
          <div class="info-show">
            <h4>Relevant Courses</h4>
            <div class="course-list">
              <p>{{ school.courses }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="ed-container">
        <h2>Work</h2>
        {% for comp in work %}
        <div class="ed-item">
          <div class="ed-item-header">
            <h3>{{ comp.name }}</h3>
          </div>
          {% for r in comp.role %}
          <div class="work-role">
            <h4>{{ r }}</h4>
            <p>{{ comp.date[loop.index-1] }}</p>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="skill-container">
      <h2>Skills</h2>
      <div class="skill-list-container">
        <div class="skill-list-header">
          <h3>Technology</h3>
        </div>
        <div class="tech-list">
          {% for skill in skills.tech %}
          <i class="{{ skill }}"></i>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="projects">
  <div class="projects-container">
    <h1>Projects</h1>
    <div class="projects-list">
      {% for project in projects %}
        <div id="{{ project.id }}" class="project-item">
          {% if project.code %} {{ project.code | safe }} {% endif %}
          <div class="project-item-img">
            <img src="{{ project.image }}"></img>
          </div>
          <div class="project-item-description">
            <div class="project-item-header">
              {% if project.link %}
                <h2><a href="{{ project.link }}" target="_blank">{{ project.name }}</a></h2>
              {% else %}
                <h2>{{ project.name }}</h2>
              {% endif %}
            </div>

            <h3>{{ project.tagline }}</h3>

            {% for d in project.des %}
              <p>{{ d }}</p>
            {% endfor %}

            <div class="proj-git-links">
              {% if project.github %}
                <a href="{{ project.github }}" target="_blank" class="proj-learn">
                  <i class="fa fa-github"></i>Learn more</a>
              {% endif %}

              {% if project.github2 %}
                <a href="{{ project.github2 }}" target="_blank" class="proj-learn">
                  <i class="fa fa-github"></i>iOS Repo</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="contact">
  <div class="contact-container">
    <h1>Like what <span>I</span> do?</h1>
    <h3>Feel free to email me or take a look at my other work.</h3>
    <h3>I look forward to getting in touch with <span>you.</span></h3>
    <div class="presence-container">
      {% for presence in splash %}
        <a class="presence-item" href="{{ presence.link }}" target="_blank"><i class="{{ presence.icon }}"></i>{{ presence.name }}</a>
      {% endfor %}
    </div>
  </div>
</section>
<section id="footer">
  <div class="footer-container">
    <h4>This site is <i>mostly</i> built from scratch on Python Flask and completely custom styled. Surprisingly, no consumption of coffee was involved.</h4>
    <a href="https://www.github.com/justinsuen/justinsuen.com" target="_blank" class="proj-learn">
      <i class="fa fa-github"></i>Learn more</a>
  </div>
</section>
{% endblock %}
